<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Registration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <button mat-stroked-button color="warn" (click)="facebookLogin.emit()">Facebook</button>
      <button mat-stroked-button color="warn" (click)="googleLogin.emit()">Google</button>
    </div>
    <form [formGroup]="registrationForm">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="E-mail" name="email" formControlName="email">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" formControlName="password">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Confirm password" type="password" name="confirm password"
                     formControlName="confirmPassword">
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!registrationForm.valid" mat-raised-button color="primary" (click)="signUp()">SIGN UP</button>
  </mat-card-actions>
  <div *ngIf="error" class="error-message">
    ERROR: {{ error }}
  </div>
</mat-card>
