<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <button mat-stroked-button color="warn" (click)="facebookLogin.emit()">Facebook</button>
      <button mat-stroked-button color="warn" (click)="googleLogin.emit()">Google</button>
    </div>
    <form [formGroup]="loginForm">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="E-mail" name="email" formControlName="email">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" formControlName="password">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-checkbox>Remember me!</mat-checkbox>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="!loginForm.valid" mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/registration">SIGN UP</button>
  </mat-card-actions>
  <mat-card-footer>
    <div class="error-message" *ngIf="error">
      LOGIN ERROR: {{ error }}
    </div>
    <div class="success-message" *ngIf="success">
      LOGIN SUCCESSFULLY DONE
    </div>
  </mat-card-footer>

</mat-card>
